nav {
  display: flex;
  justify-content: space-between;

  .btn-menu {
    display: none;
  }

  .logo {
    background: url('../images/coffee-cup.svg') center no-repeat;

    width: 60px;
    height: 60px;
  }

  ul {
    list-style: none;
    padding: 0;

    display: flex;


    a {
      padding: rem(12);
    }

    li {

    }
  }
}
